* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background ease-out 0.5s, color ease-out 0.5s;
}

body {
  font-family: "League Spartan", sans-serif;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.header,
main {
  width: 85%;
  max-width: 500px;
}

.header {
  padding: 0.4rem 1rem;
  margin: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
}
.header__title {
  align-self: center;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}
.header__container {
  display: flex;
  width: 35%;
  max-width: 150px;
  gap: 0.5rem;
}
.header__container-title {
  margin-top: 1.2rem;
  margin-right: 0.4rem;
  align-self: center;
}
.header__container-div {
  max-width: 70px;
  width: 70%;
}
.header__container-numbers {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.header__container-themes {
  padding: 0.3rem;
  border-radius: 0.8rem;
  width: 70px;
  height: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__container-themes-center {
  justify-content: center;
}
.header__container-themes-right {
  justify-content: flex-end;
}
.header__circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
.calculator__display {
  height: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.8rem;
  font-weight: 700;
}
.calculator__display, .calculator__board {
  border-radius: 0.5rem;
}
.calculator__values {
  font-size: 1.1rem;
}
.calculator__total {
  font-size: 2rem;
}
.calculator__board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding: 1rem;
}
.calculator__button {
  padding: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  border: none;
  border-radius: 0.6rem;
  border-bottom: 6px solid;
}
.calculator__button--reset {
  grid-column: 1/3;
}
.calculator__button--equals {
  grid-column: 3/-1;
}

footer {
  margin-top: 1.5rem;
  line-height: 1.4;
}
footer p {
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem;
}

@media (max-width: 425px) {
  .header__container {
    margin-right: 1.9rem;
  }
}
body {
  background-color: hsl(222, 26%, 31%);
}

.header__container-themes {
  background-color: hsl(223, 31%, 20%);
}
.header__circle {
  background-color: hsl(6, 63%, 50%);
}
.header__circle:hover {
  background-color: #ff6c5c;
}

.calculator__display {
  background-color: hsl(224, 36%, 15%);
}
.calculator__board {
  background-color: hsl(223, 31%, 20%);
}
.calculator__button {
  color: hsl(221, 14%, 31%);
  background-color: hsl(30, 25%, 89%);
  border-color: hsl(28, 16%, 65%);
}
.calculator__button:hover {
  background-color: #fcf8ff;
  border-color: #b8a49c;
}
.calculator__button--delete, .calculator__button--reset {
  background-color: hsl(225, 21%, 49%);
  border-color: hsl(223, 28%, 35%);
}
.calculator__button--reset:hover, .calculator__button--delete:hover {
  background-color: #a8b4e4;
  border-color: #484c74;
}
.calculator__button--equals {
  background-color: hsl(6, 63%, 50%);
  border-color: hsl(6, 70%, 34%);
}
.calculator__button--equals:hover {
  background-color: #ff6c5c;
  border-color: #943018;
}

.header__title, .header__container-title, .header__container-numbers, .calculator__button--delete, .calculator__button--reset, .calculator__button--equals, .calculator__total, .calculator__values {
  color: hsl(0, 0%, 100%);
}

footer a {
  color: hsl(224, 36%, 15%);
}
footer p {
  color: hsl(30, 25%, 89%);
}
footer a {
  color: hsl(225, 21%, 49%);
}

/*# sourceMappingURL=theme1.css.map */
