$theme3: (
    main-background:hsl(268, 75%, 9%),
    keypad-toggle-background:hsl(268, 71%, 12%),
    display-background: hsl(268, 71%, 12%),
    remove-background: hsl(281, 89%, 26%),
    remove-shadow: hsl(285, 91%, 52%),
    equals-background: hsl(176, 100%, 44%),
    equals-shadow: hsl(177, 92%, 70%),
    key-background: hsl(268, 47%, 21%),
    key-shadow: hsl(290, 70%, 36%),
    light-yellow: hsl(52, 100%, 62%),
    very-dark-blue: hsl(198, 20%, 13%),
    White-color: hsl(0, 0%, 100%)
);