$theme2: (
    main-background:hsl(0, 0%, 90%),
    keypad-toggle-background:hsl(0, 5%, 81%),
    display-background: hsl(0, 0%, 93%),
    remove-background: hsl(185, 42%, 37%),
    remove-shadow: hsl(185, 58%, 25%),
    equals-background: hsl(25, 99%, 27%),
    equals-shadow: hsl(25, 98%, 40%),
    key-background: hsl(35, 11%, 61%),
    key-shadow: hsl(45, 7%, 89%),
    very-dark-grayish-yellow: hsl(60, 10%, 19%),
    white-color:hsl(0, 0%, 100%)
);