$theme1: (
    main-background:hsl(222, 26%, 31%),
    keypad-toggle-background:hsl(223, 31%, 20%),
    display-background: hsl(224, 36%, 15%),
    remove-background: hsl(225, 21%, 49%),
    remove-shadow: hsl(224, 28%, 35%),
    equals-background: hsl(6, 63%, 50%),
    equals-shadow: hsl(6, 70%, 34%),
    key-background: hsl(30, 25%, 89%),
    key-shadow: hsl(28, 16%, 65%),
    dark-grayish-blue: hsl(221, 14%, 31%),
    white-color: hsl(0, 0%, 100%)
);

body {

}

.container {

}

.header, main {

}

.header {
    &__title {

    }

    &__container {

    }

    &__container-title {

    }

    &__container-div {

    }

    &__container-numbers {

    }

    &__container-themes {

    }

    &__circle {

    }
}

main {

}

.calculator {
    &__display {

    }

    &__values {

    }

    &__total {

    }

    &__board {

    }

    &__button {

    }

    &__button--delete {

    }

    &__button--add {

    }

    &__button--substract {

    }

    &__button--point {

    }

    &__button--division {

    }

    &__button--multiplication {

    }

    &__button--reset {

    }

    &__button--equals {

    }
}
