$theme1: (
    main-background:hsl(222, 26%, 31%),
    keypad-toggle-background:hsl(223, 31%, 20%),
    display-background: hsl(224, 36%, 15%),
    remove-background: hsl(225, 21%, 49%),
    remove-shadow: hsl(223, 28%, 35%),
    equals-circle-background: hsl(6, 63%, 50%),
    equals-shadow: hsl(6, 70%, 34%),
    key-background: hsl(30, 25%, 89%),
    key-shadow: hsl(28, 16%, 65%),
    dark-grayish-blue: hsl(221, 14%, 31%),
    white-color: hsl(0, 0%, 100%)
);

@use 'mixin';

body {
    background-color: map-get($theme1, main-background);
}

.header {
    &__container-themes {
        background-color: map-get($theme1, keypad-toggle-background);
    }

    &__circle {
        background-color: map-get($theme1, equals-circle-background);

        &:hover{
            background-color: #ff6c5c;
        }
    }
}

.calculator {
    &__display {
        background-color: map-get($theme1, display-background);
    }

    &__board {
        background-color: map-get($theme1, keypad-toggle-background);
    }

    &__button {
        color: map-get($theme1, dark-grayish-blue);
        background-color: map-get($theme1, key-background);
        border-color: map-get($theme1, key-shadow);

        &:hover{
          background-color: #fcf8ff;  
          border-color: #b8a49c;
        }
    }

    &__button--delete, &__button--reset {
        background-color: map-get($theme1, remove-background);
        border-color: map-get($theme1, remove-shadow);
    }

    &__button--reset, &__button--delete{
        &:hover{
            background-color: #a8b4e4;
            border-color: #484c74;
        }
    }

    &__button--equals {
        background-color: map-get($theme1, equals-circle-background);
        border-color: map-get($theme1, equals-shadow);

        &:hover{
            background-color: #ff6c5c;
            border-color: #943018;
        }
    }

}

.header__title,  .header__container-title, .header__container-numbers,  .calculator__button--delete, .calculator__button--reset, .calculator__button--equals, .calculator__total, .calculator__values{
    color: map-get($theme1, white-color);
}

footer {
    a {
        color: map-get($theme1, display-background);
    }

    p {
        color: map-get($theme1, key-background);
    }

    a {
        color: map-get($theme1, remove-background);
    }
}
